<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Trang chủ fanpage DOVANBOT</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="socket.io/socket.io.js"></script>
        <script src="xulyweb.js"></script> <!--  con trỏ lúc này đang ở thư mục public luôn nghe -->

        <link rel="stylesheet" type="text/css" href="layout.css"/><!--  con trỏ lúc này đang ở thư mục public luôn nghe -->
    </head>

    <body>
        <h1>Hello Chương!!!</h1>
    </body>


</html>