body{background-color: #aee468;}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', sans-serif;
}

h1, h2 {
    color: purple;
}

h1 {
    font-size: 80px;
    margin-bottom: 15px;
}

h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px ;
    transition: background 0.5s;
} 
.btn:hover{
    background: #563434;
}

.content {
    width: 75%;
    float: left;
}

form {
    width: 25%;
    float: left;
}

input, textarea {
    display: block;
}

input {
    margin: 20px;
    width: 200px;
    padding: 10px 20px;
}

textarea {
    width: 200px;
    margin-left: 20px;
    padding: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

h4 {
    float: left;
    margin-top: 40px;
    margin-left: 40px;
}

.info {
    margin-top: 20px;
    padding-bottom: 30px;
}

.date {
    position: relative;
    left: 200px
}
/*-----------------------Menu---------------------*/
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);

}
.form-container{
    background:#ffd6d6;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#Regform{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
}