<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% if (username) { %>
    <h2>username: <%= username %></h2>
  <% } %>
  <% if (codeclass) { %>
    <p><%= codeclass %></p>
  <% } %>


  <% if (err) { %>
    <p><%= err %></p>
  <% } %>
</body>
</html>