<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>✨TKB-HỌC-PHẦN-UIT</title>
  <!-- <script src='xulyweb.js'></script> -->
</head>
<body>
    <center><form action="/tkbhp" method="get">
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" value="">
        <input type="submit" value="Submit">
    </form> </center>
    <!-- <script src="https://gist.github.com/hidang/da8f1cec74822ce95f8835d3b242616e.js"></script> -->
    <h6><p>Không có trang web xấu chỉ có trang web được tạo bởi backend dev :))</p></h6>
</body>
</html>