<form action="/tao-tkbhp" class="mb-3" method="get">
  <button id="tao-tkbhp" class="btn btn-primary mb-3">Tạo thời khóa biểu từ mã lớp</button>
</form>

<form action="#" class="mb-3">
  <button id="soan-tkbhp" class="btn btn-primary mb-3" >Soạn thời khóa biểu</button>
</form>


