<center><div class="btn-group-vertical">
  <button onclick="location.href = '/tao-tkbhp';" class="btn btn-info mb-1 btn-lg">
    Tạo thời khóa biểu từ mã lớp
  </button>

  <button onclick="location.href = '/soan-tkbhp';" class="btn btn-warning mb-1 btn-lg" >
    Soạn thời khóa biểu
  </button>
</div></center>



