<nav class="navbar navbar-light bg-light">
  <form class="container-fluid" action="/tkbhp" method="get">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">Username:</span>
      <input type="text" id="username" name="username"  style="margin-right: 1.1px;" placeholder="" >
      <input data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tạo nhanh thời khóa biểu học phần từ dữ liệu database"
      type="submit" class="btn btn-primary" value="Xem TKB"  >
    </div>
  </form>
</nav>