<div class="alert alert-warning alert-dismissible fade show" role="alert">
  
  Sử dụng <a href="https://www.messenger.com/t/104124098046144" target="_blank">
    CHATBOT Messenger</a> để lấy thông tin/lưu trữ thông tin môn học và tạo USERNAME để xem nhanh thời khóa biểu học phần của bạn. 
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>