<!-- NAVBAR -->
<div name="navbar">
  <!---------INFO-------->
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <center><strong>🎉Trang web soạn thời khóa biểu học phần dành cho UITer ❤</strong></center>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
  <span > 👆 Click để xem danh sách lớp đã chọn</span>
  </button>
  <!----END-INFO-END----->

  <!----navbar-fixed-top-------->
  <div class="fixed-top collapse mb-5" id="navbarToggleExternalContent">
    <div class="p-4">
    <!-- Dạng danh sách -->
      <div class="container mt-5">     
        <a class="btn btn-warning btn-sm mb-2" data-bs-toggle="collapse" href="#show-list-danhsach" role="button" aria-expanded="true" aria-controls="ListLoc">
          📜Ẩn/Hiện
        </a>
        <b>👉Danh sách lớp học đã chọn</b></br>
        <div class="collapse show" id="show-list-danhsach">
          <div class="row">
            <div class="col-5" style="border-style: inset;">
              <!--List  tên môn học-->
              <b>Tên môn học:</b>
              <div class="list-group" id="danhsach-ten-selected" role="tablist">
                <!-- <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#list-home" role="tab">Demo1</a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#list-profile" role="tab">Demo2</a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#list-messages" role="tab">Demo3</a>
                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#list-settings" role="tab">Demo4</a> -->
              
              </div>
            </div>

            <div class="col-5" style="border-style: dotted double;">
              <b >Thông tin môn học:</b>
              <div class="tab-content" id="danhsach-info-selected">
                <!-- <p id="status-text-info"></p> -->
                <!-- <div class="tab-pane fade" id="list-home" role="tabpanel">Demo1</br>Demo1</br>Demo1</br>Demo1</div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" >Demo2</br>Demo2</br>Demo2</br>Demo2</div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel">Demo3</br>Demo3</br>Demo3</br>Demo3</div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel">Demo4</br>Demo3</br>Demo3</br>Demo3</div> -->
              
              </div>
            </div>
            <div class="col-5 ml-1" style="border-style: dotted;">
              <b>Danh sách mã lớp hiện tại:</b>
              <button id="btnCopy" type="button" class="btn btn-primary btn-sm">copy</button>
              <div id="danhsach-malop-selected">

              </div>
            </div>
            <div class="col-5 ml-1" style="border-style: outset;">
              <b>Tổng số tín chỉ :</b>
              <div id="tongTC-selected">
                
              </div>
            </div>
          </div>
        </div>
      </div>
    <!-------------------->

    <!-- Dạng bảng -->
      <div class="container mt-2">
        <a class="btn btn-warning btn-sm mb-2 " data-bs-toggle="collapse" href="#box-table-tkbhp" role="button" aria-expanded="true" aria-controls="ListLoc">
          🎇Ẩn/Hiện
        </a>
        <b>👉Xem dưới dạng bảng thời khóa biểu</b></br>
      </div>
      <div class="collapse container table-responsive-sm" id="box-table-tkbhp">
        <table id="table-tkbhp" class="table table-bordered table-striped">
          <thead class="head-table-tkbhp">
            <tr>
              <th name="cell-thutiet">Thứ / Tiết</th>
              <th name="cell-thu">Thứ 2</th>
              <th name="cell-thu">Thứ 3</th>
              <th name="cell-thu">Thứ 4</th>
              <th name="cell-thu">Thứ 5</th>
              <th name="cell-thu">Thứ 6</th>
              <th name="cell-thu">Thứ 7</th>
            </tr>
          </thead>
          <tbody class="body-table-tkbhp">

          </tbody>
        </table>
      </div>
    <!-------------------->
    </div>
  </div>
  <nav class="navbar fixed-top navbar-light bg-transparent" id="navbar">
  <div class="container-fluid" >
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  </nav>
  <!--END-navbar fixed-top-END-->
</div>
<!--------END-NAVBAR-END-------->




