<div id="container" class="container mt-5">
  <!--Phần lọc -->
  <p>
    <a class="btn btn-primary btn-sm mt-2" data-bs-toggle="collapse" href="#ListLoc" role="button" aria-expanded="true" aria-controls="ListLoc">
      👉 Ẩn/hiện lọc:
    </a>
  </p>
  <div class="collapse show" id="ListLoc">
    <div class="card card-body">
      <!--list lọc-->
      <div class="btn-group-sm" role="group" aria-label="Basic checkbox toggle button group">

        <input type="checkbox" class="form-check-input" id="STT" autocomplete="off">
        <label class="form-check-label" for="STT">STT</label>
      
        <input type="checkbox" class="form-check-input" id="MaMH" autocomplete="off">
        <label class="form-check-label" for="MaMH">Mã môn học</label>
      
        <input type="checkbox" class="form-check-input" id="MaLop"checked="true" autocomplete="off">
        <label class="form-check-label" for="MaLop">Mã Lớp</label>
      
        <input type="checkbox" class="form-check-input" id="TenMH" checked="true" autocomplete="off">
        <label class="form-check-label" for="TenMH">Tên môn học</label>
        
        <input type="checkbox" class="form-check-input" id="MaGV" autocomplete="off">
        <label class="form-check-label" for="MaGV">Mã giảng viên</label>
      
        <input type="checkbox" class="form-check-input" id="TenGV" autocomplete="off">
        <label class="form-check-label" for="TenGV">Tên giảng viên</label>
      
        <input type="checkbox" class="form-check-input" id="SiSo" autocomplete="off">
        <label class="form-check-label" for="SiSo">Sĩ số</label>
      
        <input type="checkbox" class="form-check-input" id="SoTc" autocomplete="off">
        <label class="form-check-label" for="SoTc">Số tính chỉ</label>
      
        <input type="checkbox" class="form-check-input" id="ThucHanh" autocomplete="off">
        <label class="form-check-label" for="ThucHanh">Thực hành</label>
      
        <input type="checkbox" class="form-check-input" id="HTGD" autocomplete="off">
        <label class="form-check-label" for="HTGD">HTGD</label>
      
        <input type="checkbox" class="form-check-input" id="Thu" checked="true" autocomplete="off">
        <label class="form-check-label" for="Thu">THỨ</label>
      
        <input type="checkbox" class="form-check-input" id="Tiet" checked="true" autocomplete="off">
        <label class="form-check-label" for="Tiet">TIẾT</label> 
      
        <input type="checkbox" class="form-check-input" id="CachTuan" autocomplete="off">
        <label class="form-check-label" for="CachTuan">Cách tuần</label>
      
        <input type="checkbox" class="form-check-input" id="PhongHoc" autocomplete="off">
        <label class="form-check-label" for="PhongHoc">Phòng học</label>
      
        <input type="checkbox" class="form-check-input" id="KhoaHoc" autocomplete="off">
        <label class="form-check-label" for="KhoaHoc">Khóa học</label>
      
        <input type="checkbox" class="form-check-input" id="HocKy" autocomplete="off">
        <label class="form-check-label" for="HocKy">Học kỳ</label>
      
        <input type="checkbox" class="form-check-input" id="NamHoc" autocomplete="off">
        <label class="form-check-label" for="NamHoc">Năm học</label>
      
        <input type="checkbox" class="form-check-input" id="HeDT" autocomplete="off">
        <label class="form-check-label" for="HeDT">Hệ ĐT</label>
      
        <input type="checkbox" class="form-check-input" id="KhoaQL" autocomplete="off">
        <label class="form-check-label" for="KhoaQL">Khoa QL</label>
      
        <input type="checkbox" class="form-check-input" id="NBD" autocomplete="off">
        <label class="form-check-label" for="NBD">NBD</label>
      
        <input type="checkbox" class="form-check-input" id="NKT" autocomplete="off">
        <label class="form-check-label" for="NKT">NKT</label>
      
        <input type="checkbox" class="form-check-input" id="GhiChu" autocomplete="off">
        <label class="form-check-label" for="GhiChu">Ghi chú</label>
      
      </div>
      <!----------->
    </div>
  </div>
  <!---------->

  <!--Phần table select -->
  <table id="TableSelect" class="table table-bordered">
    <thead>
      <!-- HEAD name COL -->
      <tr id="cur-name-header-table" class="header">
        <th name="cell-Chon">Chọn

        </th>
        <th name="cell-STT">STT</br>
          <input type="text" id="cell-STT" name="cell-STT">
        </th>
        <th name="cell-MaMH">Mã môn học</br>
          <input type="text" id="cell-MaMH" name="cell-MaMH">
        </th>
        <th name="cell-MaLop">Mã lớp</br>
          <input type="text" id="cell-MaLop" name="cell-MaLop">
        </th>
        <th name="cell-TenMH">Tên môn học</br>
          <input type="text" id="cell-TenMH" name="cell-TenMH">
          <!-- <select id="cell-TenMH-select" class="form-select form-select-sm">
            <option selected>Chọn môn học</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select> -->
        </th>
        <th name="cell-MaGV">Mã giảng viên</br>
          <input type="text" id="cell-MaGV" name="cell-MaGV">
        </th>
        <th name="cell-TenGV">Tên giảng viên</br>
          <input type="text" id="cell-TenGV" name="cell-TenGV">
        </th>
        <th name="cell-SiSo">Sĩ số</br>
          <input type="text" id="cell-SiSo" name="cell-SiSo">
        </th>
        <th name="cell-SoTc">Số TC</br>
          <input type="text" id="cell-SoTc" name="cell-SoTc">
        </th>
        <th name="cell-ThucHanh">Thực hành</br>
          <input type="checkbox" id="cell-ThucHanh" name="cell-ThucHanh">
        </th>
        <th name="cell-HTGD">HTGD</br>
          <input type="text" id="cell-HTGD" name="cell-HTGD">
        </th>
        <th name="cell-Thu">Thứ</br>
          <input type="text" id="cell-Thu" name="cell-Thu">
        </th>
        <th name="cell-Tiet">Tiết</br>
          <input type="text" id="cell-Tiet" name="cell-Tiet">
        </th>
        <th name="cell-CachTuan">Cách tuần</br>
          <input type="text" id="cell-CachTuan" name="cell-CachTuan">
        </th>
        <th name="cell-PhongHoc">Phòng học</br>
          <input type="text" id="cell-PhongHoc" name="cell-PhongHoc">     
        </th>
        <th name="cell-KhoaHoc">Khóa học</br>
          <input type="text" id="cell-KhoaHoc" name="cell-KhoaHoc">
        </th>
        <th name="cell-HocKy">Học kỳ</br>
          <input type="text" id="cell-HocKy" name="cell-HocKy">
        </th>
        <th name="cell-NamHoc">Năm học</br>
          <input type="text" id="cell-NamHoc" name="cell-NamHoc">
        </th>
        <th name="cell-HeDT">Hệ ĐT</br>
          <input type="text" id="cell-HeDT" name="cell-HeDT">
        </th>
        <th name="cell-KhoaQL">Khoa QL</br>
          <input type="text" id="cell-KhoaQL" name="cell-KhoaQL">
        </th>
        <th name="cell-NBD">NBD</br>
          <input type="text" id="cell-NBD" name="cell-NBD">
        </th>
        <th name="cell-NKT">NKT</br>
          <input type="text" id="cell-NKT" name="cell-NKT">
        </th>
        <th name="cell-GhiChu">Ghi chú</br>
          <input type="text" id="cell-GhiChu" name="cell-GhiChu">
        </th>
      </tr>
      <!------------->
    </thead>


    <tbody id="body-table">
      <!-- <tr>  
        <td name="cell-MaLop">IT048448Demo</td>
        <td name="cell-TenMH">Nhập mônDemo</td>
      </tr> 
      <tr>  
        <td name="cell-MaLop">IT048448Demo</td>
        <td name="cell-TenMH">Nhập mônDemo</td>
      </tr> 
      <tr>  
        <td name="cell-MaLop">IT048448Demo</td>
        <td name="cell-TenMH">Nhập mônDemo</td>
      </tr>  -->
    </tbody>
  </table>
  <!------------------->
</div>

<div id="start-data">
  <label for="progress">✨Đang soạn dữ liệu cho bạn, xin đợi trong giây lát...</label>
  <!-- <progress id="progress" value="0" max="100"></progress> -->
</div>




<!-- <script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script> -->

