<div>
  <textarea id='codeclass-input' class="form-control" rows="7" spellcheck="false"></textarea>
  <button id="submit" class="btn btn-primary mt-2 mb-2">Chấp Nhận</button>

  <div id='alert-error' style='display:none' class="alert alert-danger" role="alert"></div>

  <!-- 3. -->
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Thứ / Tiết</th>
          <th>Thứ 2</th>
          <th>Thứ 3</th>
          <th>Thứ 4</th>
          <th>Thứ 5</th>
          <th>Thứ 6</th>
          <th>Thứ 7</th>
        </tr>
      </thead>
      <tbody id='table-body'></tbody>
    </table>

  </div>
</div>