<div class="mb-3">
  <div>
    <label for="basic-url" class="form-label" >Nhập danh sách mã môn học:</label>
  </div>

  <div class="input-group">
    <textarea class="form-control" aria-label="With textarea"></textarea>
  </div>
</div>
  <!-- <script src="https://gist.github.com/hidang/da8f1cec74822ce95f8835d3b242616e.js"></script> -->
  <!-- <h6><p>Không có trang web xấu chỉ có trang web được tạo bởi backend dev :))</p></h6> -->